doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Welcome to Mr. Coffee!
        style 
            include style.css
    body
        if authenticatedUser
            nav 
                a(href='/logout') Log out

        h1 Welcome to Mr. Coffee App! 
        div
            p I hope you have a nice day
            block content